#outer {
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
